<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenAI</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <!-- <img src="../static/images/openai.png" alt="openai"/> -->
    <div id="loading"></div>
    <div class="wrapper">
        <h1 class="head">AI Based Code Converter!</h1></br>
        <form action="/shortenurl" class="fm">
            <label for="shortcode">Prompt: </label>
            <input name="shortcode" placeholder="enter your code..." class="inp" autocomplete="off"/>
            <button type="submit">Submit</button>
            <p>{{display}}</p>
        </form>
    </div>
    </div>
</body>
</html>

